@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */
 /* reset样式 */

 div{ padding:0; margin:0;word-break:break-all;}
 span,p{word-break:break-all;}
 h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,form,img,ol,p{margin:0; padding:0; border:none; list-style-type:none;}
 a{ color:#000; text-decoration:none}
 IMG {BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; margin:0;}
 EM {FONT-STYLE: normal; FONT-WEIGHT: normal;font-family: Arial,Helvetica,sans-serif;}
 A {COLOR: #333; TEXT-DECORATION: none}
 A:hover{ text-decoration:none}
img { border:none; }
 i,em { font-style:normal;}
 input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
 input { outline:none;}
 
/* public */
.clear { zoom:1; clear:both; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }
textarea { font-size:12px;outline:none;resize:none;}
.w_1200 { width:1200px; margin:0 auto;}
.money_ico { font-family:"arial";font-size:12px !important;} 

._eject_more_product{ width: 100%; position: absolute; top: 0; background: #fff;}
._eject_cm_head { height:45px; line-height: 45px; background:#03bdae; font-size: 16px; color: #fff; text-align: center; position:relative; }
._eject_cm_head ._eject_arrow_fl {border-color: #fff;width:12px; width: 10px;height: 10px;border-top: 2px solid #fff;border-right: 2px solid #fff;position: absolute;
    top:16px;left:10px;transform: rotate(-135deg);-ms-transform: rotate(-135deg);-moz-transform: rotate(-135deg);-webkit-transform: rotate(-135deg);-o-transform: rotate(-135deg);}
._eject_product_type_header{width: 100%; z-index: 999;}
._eject_product_list ul { display:-webkit-box; display:flex; border-bottom:1px solid #e1e1e1;}
._eject_product_list ul li { -webkit-box-flex:1; flex:1; text-align:center; height:40px; background:#f5f5f5; line-height:40px;}
._eject_product_list ul li.on { background-color:#fff; border-right:1px solid #e1e1e1; border-left:1px solid #e1e1e1;}
._eject_product_type { padding: 0px 10px; background-color: #fff; display:none; overflow-y: scroll;}
._eject_product_type ._eject_condition_title { font-size: 14px; color:#363636; margin-top: 10px; padding-left: 1%; clear: both; }
._eject_product_type ._eject_condition_list { width: 100%; margin: 5px 0px; }
._eject_product_type ._eject_condition_list li { width: 22%; margin: 2px 1%; float: left; font-size: 12px; height: 34px; line-height: 34px; border: 1px solid #dbdbdb; text-align: center; border-radius: 3px; color: #888888; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
._eject_product_type ._eject_condition_list li.active { color: #30c8bc; border: 1px solid #30c8bc;}
._eject_submit_box{ width: 100%; background: #fff; display: block; position: fixed; bottom: 0;}
._eject_submit_buttom {margin: 20px 10%;height: 45px;line-height: 45px;width: 80%;text-align: center;color: #FFF;background: #03BDAE none repeat scroll 0% 0%;border-radius: 5px;}  
